## API

{{#operations}}
### {{{operationId}}}()
{{{description}}}

Parameters: {{^parameters}}none{{/parameters}}
{{#parameters}}
- {{{name}}} ({{{type}}}):  {{{description}}} {{#required}}(required){{/required}}
{{/parameters}}

{{/operations}}